@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1653960528616') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-31wode:before {
  content: "\f01d8";
}

.icon-youjiantou:before {
  content: "\e628";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-wuliu:before {
  content: "\e75f";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-c:before {
  content: "\e683";
}

.icon-weixin-copy:before {
  content: "\e65b";
}

.icon-kuaisuyunxing01:before {
  content: "\e614";
}

.icon-arrow-right:before {
  content: "\e622";
}

.icon-shipin:before {
  content: "\e637";
}

.icon-sousuo:before {
  content: "\e623";
}

.icon-caidan:before {
  content: "\e62c";
}

.icon-erweima:before {
  content: "\e690";
}

.icon-weibo:before {
  content: "\e699";
}

.icon-xiajiantou:before {
  content: "\f034e";
}

.icon-ask-case:before {
  content: "\e678";
}

.icon-sousuo1:before {
  content: "\e61f";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-dianyingyuan:before {
  content: "\e610";
}

.icon-yanchu:before {
  content: "\e672";
}

.icon-shipin1:before {
  content: "\e601";
}

.icon-shouji:before {
  content: "\e602";
}

.icon-zuojiantou:before {
  content: "\e604";
}

.icon-wenxun:before {
  content: "\e615";
}

.icon-shuyi_jinqian-jiage:before {
  content: "\e65f";
}

